<?xml version="1.0" encoding="utf-8"?>

<connectionStrings>

    <add name="ModelContext" connectionString="Data Source=US-PG02M1AQ\MSSQLSERVER01;Initial Catalog=hospitalModelDb;Integrated Security=True" providerName="System.Data.SqlClient" />

	<add name="DefaultConnection" connectionString="Data Source=US-PG02M1AQ\MSSQLSERVER01;Initial Catalog=hospitalModelDb;Integrated Security=True" providerName="System.Data.SqlClient" />

	<add name="MyConnection" connectionString="Data Source=US-PG02M1AQ\MSSQLSERVER01;Initial Catalog=hospitalModelDb;Integrated Security=True" providerName="System.Data.SqlClient" />

</connectionStrings>